/***************************************MOBILE-FIRST*************************************/
@media (max-width: 375px) {
  /*General styling*/
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans';
  }

  /*Containers*/

  .svg-container {
    background-image: url('./assets/images/background-pattern-mobile.svg');
    width: 375px;
    height: 235px;
  }
  .container {
    position: relative;
    background-color: hsl(275, 100%, 97%);
    height: 100vh;
  }

  .faq-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    margin: 1.5rem;
    z-index: 1;
    top: -144px;
    padding: 1rem 2rem;
  }

  /*Hearder-title*/

  .header {
    display: flex;
    gap: 1.5rem;
    margin-right: auto;
  }

  /*Qna-Section*/

  .qna-section {
    display: flex;
    flex-direction: column;
  }

  .question-block {
    display: flex;
  }
}
