/***************************************MOBILE-FIRST*************************************/
@media (max-width: 375px) {
  /*General styling*/
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans';
  }
}
