/***************************************MOBILE-FIRST*************************************/

/*General styling*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Work Sans';
}

/*Containers*/

.svg-container {
  background-image: url('assets/images/background-pattern-mobile.svg');
  width: 100%;
  height: 38vh;
}

.container {
  background-color: hsl(275, 100%, 97%);
  width: 100%;
  height: 62vh;
  padding: 1rem;
  position: relative; /* Ensure position relative for absolute positioning within */
}

.faq-container {
  position: absolute; /* Position the faq-container relative to its closest positioned ancestor (container) */
  top: -24%;
  left: 50%;
  transform: translateX(-50%); /* Center the container horizontally */
  width: 90%;
  background-color: white;
  border-radius: 10px;
  padding: 0.5rem 1.5rem;
}

/*Hearder-title*/

.header {
  display: flex;
  align-items: center;
}

.star-icon {
  width: 24px;
  height: auto; /* Maintain aspect ratio */
}

.main-title {
  font-size: 30px;
  margin-left: 1rem;
  color: hsl(292, 42%, 14%);
}

/*Qna-Section*/

.qnq-section {
  border-bottom: 1px solid hsl(292, 16%, 49%);
  margin: 1rem 0 1rem 0;
}

.question-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.question {
  font-size: 16px;
  font-weight: 700;
  color: hsl(292, 42%, 14%);
}

.answer-block {
  display: none; /* Initially hide answers */
}

.answer-visible {
  display: flex; /* Show answer when active */
  color: hsl(292, 16%, 49%);
}

/*Attribution*/

.attribution {
  position: absolute;
  bottom: 0rem;
  font-size: 13px;
}

/***************************************TABLET VERSION*************************************/

@media screen and (min-width: 768px) {
  .svg-container {
    background-image: url('assets/images/background-pattern-desktop.svg');
    width: 100%;
    height: 38vh;
  }
  .faq-container {
    width: 50%;
  }

  .star-icon {
    width: 30px;
  }

  .main-title {
    font-size: 35px;
  }

  .attribution {
    left: 50%;
    transform: translateX(-50%);
  }
}

/***************************************DESKTOP VERSION*************************************/

@media screen and (min-width: 1280px) {
  .faq-container {
    width: 30%;
  }

  .main-title {
    font-size: 45px;
  }
}
